<!DOCTYPE html>
<html>
<head>
<link rel = "stylesheet" type="text/css" href = "/css/styles.css">

	<title>EPSKD Tshirt Store</title>

</head>
<body>
	<ul>
	<% shirts.each do |shirt| %>
	<li>
	<a href = "/shirts/<%= CGI.escape(shirt.style) %>">
	 <img src="<%= shirt.shirt_image %>"></a></br>
	<% end %>

</body>
</html>
